
.contenu	{
	display: flex;
}



.cv{
	width: 70%;

	.titre{
		text-align: center;
		color: $primary-color;
		font-family: $first-write;
	}

	.projet{
		
		h1{
				text-align: center;
				color: $primary-color;
				font-family: $first-write;
				margin-top: 2em;
				margin-bottom: 1em;		
		}
		p{
				font-family: $second-write;
				margin-left:1em;

			}

		h4{
			color: $third-color;
			font-family: $second-write;
			margin-left: 3em;

		}

		a{
			color:$third-color;
			display:block;
			text-align:center;
			font-family: $first-write;
			
		}
	}

	.savoir{
			h1{
				text-align: center;
				color: $primary-color;
				font-family: $first-write;
				margin-top: 2em;
				margin-bottom: 0.5em;
			}

			.colonne{
						display:inline-flex;
						columns:2;
			}

			
			.method{
				
					color: $third-color;
					font-family: $second-write;
					text-align: center;
					}

			.technique{	
						margin-left:0.5em;

						
			}

			.technique2{
						color: $third-color;
						font-family: $second-write;
						text-align: center;

			}

			li{
				
						font-family: $second-write;
						column-width: 24em;
			}
					
	}

	.formation{
			h1{
				text-align: center;
				color: $primary-color;
				font-family: $first-write;
				margin-top: 2em;
				margin-bottom: 1em;
					
			}

			li{
				font-family: $second-write;
				column-width: 24em;
				 
			}

			strong{
			color: $third-color;

			}


			h3{
			text-align:center;
			}

			.colonne1{
						display:inline-flex;
						columns:2;
			}

			.colonne2{
						display:inline-flex;
						columns:2;
					.dut2{
					margin-right:3em;
					}	
			}

			.colonne3{
						display:inline-flex;
						columns:2;
				}



	}

	.experiences{
			h1{
				text-align: center;
				color: $primary-color;
				font-family: $first-write;
				margin-top: 2em;
				margin-bottom: 1em;	
			}

			li{
					font-family: $second-write;
			}

			strong{
			color: $third-color;

			}

			.hastag{
			color: $primary-color;
			text-align: center;
			font-family: $second-write;
			margin-bottom: 0.5em;
			margin-top: 0.5em;
			}

			.hastag1 {
			color: $third-color;
			text-align: center;
			font-family: $second-write;
			margin-bottom: 0.5em;
			margin-top: 0.5em;
			}

			.hastag2{
			color: $primary-color;
			text-align: center;
			font-family: $second-write;
			margin-bottom: 0.5em;
			margin-top: 0.5em;
			}

			.hastag3{
			color: $third-color;
			text-align: center;
			font-family: $second-write;
			margin-bottom: 0.5em;
			margin-top: 0.5em;
			}

			.hastag4{
			color: $primary-color;
			text-align: center;
			font-family: $second-write;
			margin-bottom: 0.5em;
			margin-top: 0.5em;
			}

			.hastag5{
			color: $third-color;
			text-align: center;
			font-family: $second-write;
			margin-top: 0.5em;
			}


	}

	.loisirs{
		h1{
				text-align: center;
				color: $primary-color;
				font-family: $first-write;
				margin-top: 2em;
				margin-bottom: 1em;	
				
		}

		li{
						font-family: $second-write;
						column-width: 23em;
			}

		.loisirs1{
					display:inline-flex;
					columns:3;
		}
		
	}

	
}


