

.container{
	display: flex;
}

.cv{

	width: 70%;


	h1{
		text-align: center;
		color: $primary-color;
		font-family: $first-write; 	
	}

	li{
		font-family: $second-write;
	}

	.projet{
		

		h1{
				color : $third-color;
		}

		ul{

				border:dotted;
				padding:0.5em;
				border-color: $third-color;
				border-width :0.1em;
		}

		li{
				margin-left: 1em;

			}
	}

	.savoir{
		margin-top: 4em;

			h1{
				color: $third-color;
				
			}

			ul{
				border:dotted;
				padding:0.5em;
				border-color: $third-color;
				border-width :0.1em;
				columns: 2 ;

			}

			li{
				margin-left: 1em;
			}
	}

	.formation{
		h1{
				color: $third-color;
				
		}

		ul{
		
				border:dotted;
				padding:0.5em;
				border-width :0.1em;
				border-color: $third-color;	
		}

		li{
				margin-left: 1em;

			}

	}

	.experiences{
		h1{
				color: $third-color;
		}

		ul{
	
				border:dotted;
				padding:0.5em;
				border-color: $third-color;
				border-width :0.1em;

		}
		li{
				margin-left: 1em;

			}
	}

	.loisirs{
		h1{
				color : $third-color;
		}

		ul{

				border:dotted;
				padding:0.5em;
				border-color: $third-color;
				border-width :0.1em;
		}

		li{
				margin-left: 1em;

			}
	}

	
}


