
.contenu	{
	display: flex;
}

.cv{
	width: 70%;

	.titre{
		text-align: center;
		color: $primary-color;
		font-family: $first-write;
	}

	.projet{
		
		h1{
				text-align: center;
				color: $primary-color;
				font-family: $first-write;
				margin-top: 2em;
				margin-bottom: 1em;		
		}
		li{
				margin-left: 1em;
				font-family: $second-write;
			}
	}

	.savoir{
			h1{
				text-align: center;
				color: $primary-color;
				font-family: $first-write;
				margin-top: 3em;
				margin-bottom: 1em;
			}

			ul{
				;
				columns: 2 ;
			}

			li{
				margin-left: 1em;
				font-family: $second-write;
			}		
	}

	.formation{
			h1{
				text-align: center;
				color: $primary-color;
				font-family: $first-write;
				margin-top: 2em;
				margin-bottom: 1em;	
			}

			li{
				margin-left: 1em;
				font-family: $second-write;
			}

			em{
				font-weight: bold;
				margin-right: 1em;
			}
	}

	.experiences{
			h1{
				text-align: center;
				color: $primary-color;
				font-family: $first-write;
				margin-top: 2em;
				margin-bottom: 1em;	
			}

			li{
					margin-left: 1em;
					font-family: $second-write;
			}
	}

	.loisirs{
		h1{
				text-align: center;
				color: $primary-color;
				font-family: $first-write;
				margin-top: 2em;
				margin-bottom: 1em;	
				
		}
		li{
				margin-left: 1em;
				font-family: $second-write;
		}
	}

	
}


