

.contenu	{
	display: flex;
}

.cv{

	width: 70%;


	h1{
		text-align: center;
		color: $primary-color;
		font-family: $first-write;

	}

	li{
		font-family: $second-write;
	}

	.projet{
		margin-top: 4em;

		h1{
				color : $primary-color;
		}


		li{
				margin-left: 1em;

			}
	}

	.savoir{
		margin-top: 4em;

			h1{
				color: $primary-color;
			}

			ul{
				;
				columns: 2 ;
			}

			li{
				margin-left: 1em;
			}
			
	}

	.formation{
		margin-top: 4em;
			h1{
					color: $primary-color;
					
			}


			li{
					margin-left: 1em;

				}

	}

	.experiences{
		margin-top: 4em;
			h1{
					color: $primary-color;
			}

			
			li{
					margin-left: 1em;

				}
	}

	.loisirs{
	margin-top: 4em;
		h1{
				color : $primary-color;
		}



		li{
				margin-left: 1em;

			}
	}

	
}


