.barre_verticale {
   height: 175vh;
   width: 30%;
   border-right: 0.1em solid;
   border-color: $primary-color;
  
   

 
   background: $primary-color;

	h1{
		text-align: center;
		font-family: $first-write;
	}

	img{
		width:50%;
		margin-left: 25%;
		
	   
	}

	hr{
		background: $third-color;
		width : 50%;
		height: 0.1em;
		
	}

	h2{
		text-align: center;
		font-family: $first-write;
	}

	h3{
		text-align: center;
		font-family: $first-write;
	}

	p{
		text-align: center;
		font-family: $second-write;
	}

	

	.réseaux{
		li{
			width: 30%;
			display: inline-flex;
			list-style-type: none; 
		}

		
	}

	.language{
		li{
			
			width: 6em;
			height: 3em;
			display: inline-flex;		
			list-style-type: none; 
		}
	}

	.language2{
		li{
			
			width: 6em;
			height: 3em;
			display: inline-flex;		
			list-style-type: none; 
		}
	}

	.language3{
		li{
			
			width: 6em;
			height: 3em;
			display: inline-flex;		
			list-style-type: none; 
		}
	}

	



	
}


