.barre_verticale {
   
   width: 30%;
   border-right: 0.1em solid;
   border-color: $secondary-color;
  
   

 
   background: $secondary-color;

	h1{
		text-align: center;
		font-family: $first-write;

	}

	img{
		width:40%;
		margin-left: 30%;
		
	   
	}

	hr{
		background: $third-color;
		width : 50%;
		height: 0.1em;
		
	}

	h2{
		margin-top: 2em;
		text-align: center;
		font-family: $first-write;
		color: $primary-color;
	}

	h3{

		text-align: center;
		font-family: $first-write;
		color: $primary-color;
	}

	p{
		margin-top: 1em;
		text-align: center;
		font-family: $second-write;
	}

	

	.réseaux{
		li{
			text-align: center;
			margin-top: 1em;
			width: 6em;
			height: 3em;
			display: inline-flex;		
			list-style-type: none;
		}

		
	}

	.language{
		li{
		
			text-align:center;
			margin-top:1em;
			width: 6em;
			height: 3em;
			display: inline-flex;		
			list-style-type: none; 
		}
	}

	.language2{
		li{
			margin-top:1em;
			width: 6em;
			height: 3em;
			display: inline-flex;		
			list-style-type: none; 
		}
	}

	.language3{
		li{
			margin-top:1em;
			width: 6em;
			height: 3em;
			display: inline-flex;		
			list-style-type: none; 
		}
	}

	



	
}


