.barre_verticale {


	width: 30%;
	border-right: 0.1em solid;
	border-color: $secondary-color;
	background: $secondary-color;
	

		.name{
			text-align: center;
			font-family: $first-write;
			color: $primary-color;
		}

		.photo{
			img{
				width:40%;
				margin-left: 30%;
			}
			
		}



		.profil{
			p{
				margin-top: 0.5em;
				text-align: center;
				font-family: $second-write;
			}
			h2{
				margin-top: 1em;
				text-align: center;
				font-family: $first-write;
				color: $primary-color;
			}
		}


		hr{
		background: $primary-color;
		width : 70%;
		height: 0.1em;
		margin-top: 1.5em;
		}

		.contact{
			h2{
				margin-top: 2em;
				text-align: center;
				font-family: $first-write;
				color: $primary-color;
			}
			p{
				margin-top: 0.5em;
				text-align: center;
				font-family: $second-write;

			}
		}

		.competence{
			h2{
				margin-top: 2em;
				text-align: center;
				font-family: $first-write;
				color: $primary-color;
			}
			h3{
				text-align: center;
				font-family: $first-write;
				color: $primary-color;
			}

			
		}
		
		.reseaux{
				margin-top: 2em;
				margin-bottom:2em;
				text-align: center;
				font-family: $first-write;
				color: $primary-color;

		}

		.logo {
		display: block;
		margin: 0 auto;
		width: 86%;
			img{
				width:40%;
				margin-left: 30%;
			
			}
		}	

		.linkedin {
		width: 120%;
		height: 3em;
		margin-left: 1em;
		}

		.github {
		width: 70%;
		height: 3em;
		
		}

		.rs {
		width: 35%;
		display: inline-flex;
		margin-left: 26%;
		}

		.language{
		width: 7em;
		height: 3em;
		display: inline-flex;		 
		margin-top: 2em;
		margin-bottom: 2em;
		
		}

		.language2{
			margin-top:0.5em;
			margin-bottom:2em;
			width: 7em;
			height: 3em;
			display: flex;		
		}
			.b {
				height: 65px;
			}


		.language3{
		margin-top:0.5em;
		width: 7em;
		height: 3em;
		display: flex;		
		margin-bottom: 2em;
		}

		.language4{
		margin-top:0.5em;
		width:7em;
		height: 3em;
		display: inline-flex;		
		
		}

		@media (max-width: 1000px) {
			.logo {
			display: block;
			margin: 0 auto;
			width: 100%;

			}
			.linkedin {
			width: 150%;
			height: 40px;
			margin-right: 2px;
			}

			.github {
			width: 70%;
			height: 40px;
			margin-left: 1px;
			}

			.rs {
			width: 30%;
			display: inline-flex;
			margin-left: 31%;
			}	

		} 

}


