.barre_verticale {
  width: 30%;
  border-right: 0.1em solid;
  border-color: #D8D8D8;
  background: #D8D8D8; }
  .barre_verticale .name {
    text-align: center;
    font-family: Shadows Into Light;
    color: #CE253B; }
  .barre_verticale .photo img {
    width: 40%;
    margin-left: 30%; }
  .barre_verticale .profil p {
    margin-top: 1em;
    text-align: center;
    font-family: Exo; }
  .barre_verticale .profil h2 {
    margin-top: 2em;
    text-align: center;
    font-family: Shadows Into Light;
    color: #CE253B; }
  .barre_verticale hr {
    background: #CE253B;
    width: 70%;
    height: 0.1em;
    margin-top: 2em; }
  .barre_verticale .contact h2 {
    margin-top: 2em;
    text-align: center;
    font-family: Shadows Into Light;
    color: #CE253B; }
  .barre_verticale .contact p {
    margin-top: 1em;
    text-align: center;
    font-family: Exo; }
  .barre_verticale .competence h2 {
    margin-top: 2em;
    text-align: center;
    font-family: Shadows Into Light;
    color: #CE253B; }
  .barre_verticale .competence h3 {
    text-align: center;
    font-family: Shadows Into Light;
    color: #CE253B; }
  .barre_verticale .logo {
    display: block;
    margin: 0 auto;
    width: 86%;
    margin-top: 2em; }
    .barre_verticale .logo img {
      width: 40%;
      margin-left: 28%; }
  .barre_verticale .linkedin {
    width: 120%;
    height: 3em;
    margin-left: 1em; }
  .barre_verticale .github {
    width: 70%;
    height: 3em; }
  .barre_verticale .rs {
    width: 35%;
    display: inline-flex;
    margin-left: 26%;
    margin-top: 1em; }
  .barre_verticale .language {
    width: 7em;
    height: 3em;
    display: inline-flex;
    margin-top: 2em;
    margin-bottom: 3em; }
  .barre_verticale .language2 {
    width: 7em;
    height: 3em;
    display: flex;
    margin-bottom: 3em; }
  .barre_verticale .b {
    height: 65px; }
  .barre_verticale .language3 {
    width: 7em;
    height: 3em;
    display: flex;
    margin-bottom: 3em; }
  .barre_verticale .language4 {
    width: 7em;
    height: 3em;
    display: inline-flex; }
  @media (max-width: 1000px) {
    .barre_verticale .logo {
      display: block;
      margin: 0 auto;
      width: 100%; }
    .barre_verticale .linkedin {
      width: 150%;
      height: 40px;
      margin-right: 2px; }
    .barre_verticale .github {
      width: 70%;
      height: 40px;
      margin-left: 1px; }
    .barre_verticale .rs {
      width: 30%;
      display: inline-flex;
      margin-left: 31%; } }

.contenu {
  display: flex; }

.cv {
  width: 70%; }
  .cv .titre {
    text-align: center;
    color: #CE253B;
    font-family: Shadows Into Light; }
  .cv .projet h1 {
    text-align: center;
    color: #CE253B;
    font-family: Shadows Into Light;
    margin-top: 2em;
    margin-bottom: 1em; }
  .cv .projet p {
    font-family: Exo;
    margin-left: 1em; }
  .cv .projet h4 {
    color: #708BD6;
    font-family: Exo;
    margin-left: 3em; }
  .cv .projet a {
    color: #708BD6;
    display: block;
    text-align: center;
    font-family: Shadows Into Light; }
  .cv .savoir h1 {
    text-align: center;
    color: #CE253B;
    font-family: Shadows Into Light;
    margin-top: 2em;
    margin-bottom: 0.5em; }
  .cv .savoir .colonne {
    display: inline-flex;
    columns: 2; }
  .cv .savoir .method {
    color: #708BD6;
    font-family: Exo;
    text-align: center; }
  .cv .savoir .technique {
    margin-left: 0.5em; }
  .cv .savoir .technique2 {
    color: #708BD6;
    font-family: Exo;
    text-align: center; }
  .cv .savoir li {
    font-family: Exo;
    column-width: 24em; }
  .cv .formation h1 {
    text-align: center;
    color: #CE253B;
    font-family: Shadows Into Light;
    margin-top: 2em;
    margin-bottom: 1em; }
  .cv .formation li {
    font-family: Exo;
    column-width: 24em; }
  .cv .formation strong {
    color: #708BD6; }
  .cv .formation h3 {
    text-align: center; }
  .cv .formation .colonne1 {
    display: inline-flex;
    columns: 2; }
  .cv .formation .colonne2 {
    display: inline-flex;
    columns: 2; }
    .cv .formation .colonne2 .dut2 {
      margin-right: 3em; }
  .cv .formation .colonne3 {
    display: inline-flex;
    columns: 2; }
  .cv .experiences h1 {
    text-align: center;
    color: #CE253B;
    font-family: Shadows Into Light;
    margin-top: 2em;
    margin-bottom: 1em; }
  .cv .experiences li {
    font-family: Exo; }
  .cv .experiences strong {
    color: #708BD6; }
  .cv .experiences .hastag {
    color: #CE253B;
    text-align: center;
    font-family: Exo;
    margin-bottom: 0.5em;
    margin-top: 0.5em; }
  .cv .experiences .hastag1 {
    color: #708BD6;
    text-align: center;
    font-family: Exo;
    margin-bottom: 0.5em;
    margin-top: 0.5em; }
  .cv .experiences .hastag2 {
    color: #CE253B;
    text-align: center;
    font-family: Exo;
    margin-bottom: 0.5em;
    margin-top: 0.5em; }
  .cv .experiences .hastag3 {
    color: #708BD6;
    text-align: center;
    font-family: Exo;
    margin-bottom: 0.5em;
    margin-top: 0.5em; }
  .cv .experiences .hastag4 {
    color: #CE253B;
    text-align: center;
    font-family: Exo;
    margin-bottom: 0.5em;
    margin-top: 0.5em; }
  .cv .experiences .hastag5 {
    color: #708BD6;
    text-align: center;
    font-family: Exo;
    margin-top: 0.5em; }
  .cv .loisirs h1 {
    text-align: center;
    color: #CE253B;
    font-family: Shadows Into Light;
    margin-top: 2em;
    margin-bottom: 1em; }
  .cv .loisirs li {
    font-family: Exo;
    column-width: 24em; }
  .cv .loisirs .loisirs1 {
    display: inline-flex;
    columns: 3; }

body {
  margin: 0;
  width: 100%;
  font-size: 18px; }

/*# sourceMappingURL=style.css.map */
