.barre_verticale {
  width: 30%;
  border-right: 0.1em solid;
  border-color: #D8D8D8;
  background: #D8D8D8; }
  .barre_verticale .name {
    text-align: center;
    font-family: Shadows Into Light;
    color: #CE253B; }
  .barre_verticale .photo img {
    width: 40%;
    margin-left: 30%; }
  .barre_verticale .profil p {
    margin-top: 0.5em;
    text-align: center;
    font-family: Exo; }
  .barre_verticale .profil h2 {
    margin-top: 1em;
    text-align: center;
    font-family: Shadows Into Light;
    color: #CE253B; }
  .barre_verticale hr {
    background: #CE253B;
    width: 70%;
    height: 0.1em;
    margin-top: 1.5em; }
  .barre_verticale .contact h2 {
    margin-top: 2em;
    text-align: center;
    font-family: Shadows Into Light;
    color: #CE253B; }
  .barre_verticale .contact p {
    margin-top: 0.5em;
    text-align: center;
    font-family: Exo; }
  .barre_verticale .competence h2 {
    margin-top: 2em;
    text-align: center;
    font-family: Shadows Into Light;
    color: #CE253B; }
  .barre_verticale .competence h3 {
    text-align: center;
    font-family: Shadows Into Light;
    color: #CE253B; }
  .barre_verticale .reseaux {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    font-family: Shadows Into Light;
    color: #CE253B; }
  .barre_verticale .logo {
    display: block;
    margin: 0 auto;
    width: 86%; }
    .barre_verticale .logo img {
      width: 40%;
      margin-left: 30%; }
  .barre_verticale .linkedin {
    width: 120%;
    height: 3em;
    margin-left: 1em; }
  .barre_verticale .github {
    width: 70%;
    height: 3em; }
  .barre_verticale .rs {
    width: 35%;
    display: inline-flex;
    margin-left: 26%; }
  .barre_verticale .language {
    width: 7em;
    height: 3em;
    display: inline-flex;
    margin-top: 2em;
    margin-bottom: 2em; }
  .barre_verticale .language2 {
    margin-top: 0.5em;
    margin-bottom: 2em;
    width: 7em;
    height: 3em;
    display: flex; }
  .barre_verticale .b {
    height: 65px; }
  .barre_verticale .language3 {
    margin-top: 0.5em;
    width: 7em;
    height: 3em;
    display: flex;
    margin-bottom: 2em; }
  .barre_verticale .language4 {
    margin-top: 0.5em;
    width: 7em;
    height: 3em;
    display: inline-flex; }
  @media (max-width: 1000px) {
    .barre_verticale .logo {
      display: block;
      margin: 0 auto;
      width: 100%; }
    .barre_verticale .linkedin {
      width: 150%;
      height: 40px;
      margin-right: 2px; }
    .barre_verticale .github {
      width: 70%;
      height: 40px;
      margin-left: 1px; }
    .barre_verticale .rs {
      width: 30%;
      display: inline-flex;
      margin-left: 31%; } }

.contenu {
  display: flex; }

.cv {
  width: 70%; }
  .cv .titre {
    text-align: center;
    color: #CE253B;
    font-family: Shadows Into Light; }
  .cv .projet h1 {
    text-align: center;
    color: #CE253B;
    font-family: Shadows Into Light;
    margin-top: 2em;
    margin-bottom: 1em; }
  .cv .projet li {
    font-family: Exo; }
  .cv .projet h2 {
    color: #708BD6;
    font-family: Exo; }
  .cv .savoir h1 {
    text-align: center;
    color: #CE253B;
    font-family: Shadows Into Light;
    margin-top: 3em;
    margin-bottom: 1em; }
  .cv .savoir .colonne {
    display: inline-flex;
    columns: 2; }
  .cv .savoir .method {
    color: #708BD6;
    font-family: Exo;
    text-align: center; }
  .cv .savoir .technique {
    margin-left: 0.5em; }
  .cv .savoir .technique2 {
    color: #708BD6;
    font-family: Exo;
    text-align: center; }
  .cv .savoir li {
    font-family: Exo;
    column-width: 24em; }
  .cv .formation h1 {
    text-align: center;
    color: #CE253B;
    font-family: Shadows Into Light;
    margin-top: 2em;
    margin-bottom: 1em; }
  .cv .formation li {
    font-family: Exo; }
  .cv .formation em {
    font-weight: bold;
    margin-right: 1em; }
  .cv .experiences h1 {
    text-align: center;
    color: #CE253B;
    font-family: Shadows Into Light;
    margin-top: 2em;
    margin-bottom: 1em; }
  .cv .experiences li {
    font-family: Exo; }
  .cv .loisirs h1 {
    text-align: center;
    color: #CE253B;
    font-family: Shadows Into Light;
    margin-top: 2em;
    margin-bottom: 1em; }
  .cv .loisirs li {
    font-family: Exo; }

body {
  margin: 0;
  width: 100%;
  font-size: 18px; }

/*# sourceMappingURL=style.css.map */
