.barre_verticale {
  width: 30%;
  border-right: 0.1em solid;
  border-color: #D8D8D8;
  background: #D8D8D8; }
  .barre_verticale h1 {
    text-align: center;
    font-family: Shadows Into Light; }
  .barre_verticale img {
    width: 40%;
    margin-left: 30%; }
  .barre_verticale hr {
    background: black;
    width: 50%;
    height: 0.1em; }
  .barre_verticale h2 {
    margin-top: 2em;
    text-align: center;
    font-family: Shadows Into Light;
    color: #CE253B; }
  .barre_verticale h3 {
    text-align: center;
    font-family: Shadows Into Light;
    color: #CE253B; }
  .barre_verticale p {
    margin-top: 0.5em;
    text-align: center;
    font-family: Exo; }
  .barre_verticale .logo {
    display: block;
    margin: 0 auto;
    width: 86%; }
  .barre_verticale .linkedin {
    width: 150%;
    height: 40px;
    margin-right: 2px; }
  .barre_verticale .github {
    width: 70%;
    height: 40px;
    margin-left: 1px; }
  .barre_verticale .display {
    width: 30%;
    display: inline-flex;
    margin-left: 31%; }
  .barre_verticale .language {
    text-align: center;
    width: 7em;
    height: 3em;
    display: inline-flex;
    list-style-type: none;
    margin-top: 2em;
    margin-bottom: 2em; }
  .barre_verticale .language2 {
    margin-top: 0.5em;
    width: 7em;
    height: 3em;
    display: flex;
    list-style-type: none; }
  .barre_verticale .language3 {
    margin-top: 0.5em;
    width: 7em;
    height: 3em;
    display: flex;
    list-style-type: none;
    margin-top: 2em;
    margin-bottom: 2em; }
  .barre_verticale .language4 {
    margin-top: 0.5em;
    width: 7em;
    height: 3em;
    display: inline-flex;
    list-style-type: none; }
  @media (max-width: 1000px) {
    .barre_verticale .logo {
      display: block;
      margin: 0 auto;
      width: 100%; }
    .barre_verticale .linkedin {
      width: 150%;
      height: 40px;
      margin-right: 2px; }
    .barre_verticale .github {
      width: 70%;
      height: 40px;
      margin-left: 1px; }
    .barre_verticale .display {
      width: 30%;
      display: inline-flex;
      margin-left: 31%; } }

.contenu {
  display: flex; }

.cv {
  width: 70%; }
  .cv h1 {
    text-align: center;
    color: #CE253B;
    font-family: Shadows Into Light; }
  .cv li {
    font-family: Exo; }
  .cv .projet {
    margin-top: 4em; }
    .cv .projet h1 {
      color: #CE253B; }
    .cv .projet li {
      margin-left: 1em; }
  .cv .savoir {
    margin-top: 4em; }
    .cv .savoir h1 {
      color: #CE253B; }
    .cv .savoir ul {
      columns: 2; }
    .cv .savoir li {
      margin-left: 1em; }
  .cv .formation {
    margin-top: 4em; }
    .cv .formation h1 {
      color: #CE253B; }
    .cv .formation li {
      margin-left: 1em; }
  .cv .experiences {
    margin-top: 4em; }
    .cv .experiences h1 {
      color: #CE253B; }
    .cv .experiences li {
      margin-left: 1em; }
  .cv .loisirs {
    margin-top: 4em; }
    .cv .loisirs h1 {
      color: #CE253B; }
    .cv .loisirs li {
      margin-left: 1em; }

body {
  margin: 0;
  width: 100%;
  font-size: 18px; }

/*# sourceMappingURL=style.css.map */
